.homeContainer {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homeContainer h1 {
  margin-bottom: 40px;
}
.homeContainer .blockAtimashki {
  display: flex;
  padding: 60px;
}
.blockAtimashki li {
  margin-right: 16px;
}

.homeContainer article {
  padding: 40px;
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 20px;
  width: 70%;
}
.active {
  fill: green;
}
