code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body {
  margin: 0;
  font-family: "inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Roboto", sans-serif;
  color: rgba(16, 24, 40, 1);
  padding: 0 64px;
}

.hidden {
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.error {
  position: absolute;
  color: red;
  font-size: 12px;
}

ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
button {
  background: transparent;
  border: none;
}
header {
  margin-bottom: 24px;
}
a {
  color: rgba(16, 24, 40, 1);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}
